Hi,
= nil
It was nice to meet you! Aren't you glad we didn't exchange cards - now you can search for my contact details easily.
My details are as follows:
= nil
= render partial: "details", locals: {user: @user}
= nil
= "Return the favor by signing up at #{exchange_url(@friend.invite_token)}"
= nil
Regards,
= @user.fullname
= public_user_url(@user)