= "Hi #{@user.fullname}"
= nil
I just exchanged details with you:
= nil
= @friend.fullname
- if @friend.title
  = @friend.title
- if @friend.organization
  = @friend.organization
= @friend.email
- if @friend.phone_mobile
  = @friend.phone_mobile
= nil
Regards,
= @friend.fullname
= public_user_url(@friend)