Hi,

It was nice to meet you, aren't you happy we didn't exchange cards now you can search for my contacts so easily
My details are as follows:

= @user.fullname
= @user.title if @user.title
= @user.organization if @user.organization
= @user.email
= @user.phone_mobile if @user.phone_mobile

Return the favor by signing up at radd.me/ke3q290

Regards,
= @user.fullname
= public_user_url(@user)