%h2= @user.fullname

%p= @user.email
= form_for :user, url: friendships_path do |f|
  = f.hidden_field :id
  %div
    = f.label :email
    %br/
    = f.email_field :email, value: nil
  %div= f.submit "Exchange!"