= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = render partial: 'form', locals: {f: f}
  %div= f.submit "Sign up", :class => "button"

.meta
  = render :partial => "devise/shared/links"