CACHE MANIFEST
CACHE:
- if user_signed_in?
  = "#{current_user.friendly_id}.html"
  = "#{current_user.friendly_id}"
= "/assets/#{Rails.application.assets.find_asset('application.css').digest_path}"
= "/assets/#{Rails.application.assets.find_asset('application.js').digest_path}"
= "/assets/bg.png"
= "/assets/logo.png"