CACHE MANIFEST
= "# changelog: added contacts download"
CACHE:
- if user_signed_in?
  = "#{current_user.friendly_id}.html"
  = current_user.friendly_id
  = raw current_user.gravatar_url
= "/assets/#{Rails.application.assets.find_asset('application.css').digest_path}"
= "/assets/#{Rails.application.assets.find_asset('application.js').digest_path}"
= "/assets/bg.png"
= "/assets/logo.png"

NETWORK:
*