CACHE MANIFEST
CACHE:
- if user_signed_in?
  = "#{current_user.friendly_id}.html"
  = "#{current_user.friendly_id}"
= "#{Rails.application.assets.find_asset('application.css').digest_path}"
= "#{Rails.application.assets.find_asset('application.js').digest_path}"
= "bg.png"
= "logo.png"