!!!
%html{offline_manifest}
  %head
    %title radd.me
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %link{:href => "/assets/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    .wrapper
      #offline
        %p OFFLINE MODE
      .header
        = link_to "radd.me", root_path, :class=> "logo"
      = yield :avatar
      - %w[notice alert].each do |flasher|
        - if flash[flasher.to_sym]
          .alert-message{class: flasher}
            = link_to 'x', '#', class: 'close'
            %p= flash[flasher.to_sym]

      = yield

      .footer
        = link_to "about", about_path
        = link_to "blog", 'http://raddme.tumblr.com/', target: '_blank'
        = link_to "feedback", 'http://raddme.uservoice.com/', target: '_blank'
    
    = javascript_include_tag "application"
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-769543-30']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();