!!!
%html
  %head
    %title radd.me
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;", :name => "viewport"}/
    %link{:href => "/assets/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/assets/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/assets/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    .wrapper
      .header
        = link_to "radd.me", root_path, :class=> "logo"
      = yield